# fly.toml app configuration file generated for finstats on 2026-01-13T16:35:37+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'finstats'
primary_region = 'cdg'

[build.compose]
file = "docker-compose.fly.rendered.yml"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'suspend'
auto_start_machines = true
min_machines_running = 0

[[vm]]
memory = '512mb'
cpus = 1
memory_mb = 512

[[mounts]]
source = "pg_data"
destination = "/var/lib/postgresql"
